@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../../../public/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
  url('../../../public/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Circular Std", "PT Sans Narrow", sans-serif;
}
body {
  margin-top: 114px;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
   width: 0;
   box-sizing: border-box;
 }
h2 {
  font-weight: 600;
  font-size: 48px;
  color: #2E4052;
}

button, input, select {
  font-family: "Open Sans", "Circular Std", "PT Sans Narrow", sans-serif;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.container__wrapper {
  padding: 40px 0;
}